<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pencarian">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="beranda">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Tambah</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
