.splash-screen {
  --background: #00796bfa;
  --padding-top: 0;
  --padding-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  padding: 0 !important;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .logo {
      width: 35vw;
      max-width: 160px;
      min-width: 100px;
      animation: zoomIn 0.8s ease-out;
    }

    .judul {
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-top: 16px;
      animation: slideUp 1s ease-out forwards;
      opacity: 0;
      animation-delay: 0.5s;
    }

    .spinner {
      --color: #000;
      margin-top: 10px;
    }
  }
}

// Animasi
@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}