<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Dokter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding daftar-dokter-page">

  <h2 class="page-title">Dokter yang Bertugas</h2>

  <ion-card *ngFor="let dokter of dokterList" class="dokter-card">
    <ion-card-header>
      <ion-card-title>{{ dokter.nama }}</ion-card-title>
      <ion-card-subtitle>Spesialis {{ dokter.spesialis }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="calendar-outline" class="icon-jadwal"></ion-icon>
      Jadwal Praktik: {{ dokter.jadwal }}
    </ion-card-content>
  </ion-card>

</ion-content>
