<ion-content class="home-page ion-padding">
  <div class="welcome-section">
    <h2>{{ sapaan }}, {{ userName }} </h2>
    <p>Selamat datang di Aplikasi Antrian PadaSehat Medical Care.</p>
  </div>

  <div class="hospital-info">
    <h3>🏥 Informasi Rumah Sakit</h3>
    <p><ion-icon name="location-outline"></ion-icon> Jl. PadaSehat Barat No. 50, Surakarta</p>
    <p><ion-icon name="call-outline"></ion-icon> (0283)66997321</p>
    <p><ion-icon name="mail-outline"></ion-icon> info&#64;padasehat.id</p>
  </div>

  <div class="highlight-section">
    <h3>🩺 Layanan Unggulan</h3>
    <ul>
      <li>Pendaftaran Poli & Dokter</li>
      <li>Ambil Antrian Online</li>
      <li>Riwayat Antrian Digital</li>
    </ul>
  </div>
</ion-content>
